input:focus, button:focus {
    outline:none;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-container #title{
    color: coral;
}

.app-container .search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    width: 50%;
}

.app-container .search-box .control-label { 
    font-size: 2em;
}

.app-container .search-box .control-input {
    margin: 2%;
    width: 100%;
    border-radius: 6px;
    border: 1px solid black;
    padding: 2%;
    font-size: 16px;
    text-align: center;
} 

.app-container .search-box .control-input:focus {
    color: green;
    border: 2px solid coral;
}

.app-container .search-box .control-submit {
    margin: 2%;
    padding: 0.5em;
    border-radius: 6px;
    background-color: green;
    color: white;
    border: 1px solid greenyellow;
}

.app-container .search-box .control-submit:hover {
    border-color:green;
    color: black;
    background-color: greenyellow;
    cursor: pointer;
} 